.header {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 99;
    width: 100%;
    margin: 0 auto;
    padding: 0 95px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}

.header-top {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}

.header-top-menu {
    width: 680px;
    height: 50px;
}
.header-top-menu ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
}
.header-top-menu li {
}

.header-top-menu li a {
    font-size: 14px;
    font-weight: 600;
    color: #fff;
}

.header-top-lang {
    display: block;
    width: 300px;
}
.header-top-lang ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header-top-lang li {
    padding: 10px 20px;
}
.header-top-lang li a {
    font-size: 14px;
    font-weight: 600;
    color: #fff;
}
.gnb {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.mainmenu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1120px;
    height: 80px;
}
.mainmenu > li > a {
    font-size: 18px;
    padding: 28px 40px;
    color: #fff;
    font-weight: 600;
}

.depth {
    display: none;
}

.header-side-icon {
    width: 100px;
    height: 80px;
}
.header-side-icon a {
}
.header-side-icon img {
    /* padding: 20px 0; */
    margin-right: 20px;
    width: 20px;
    height: 20px;
}
