* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline-style: none;
}

ul {
  list-style: none;
}

a {
  color: #000;
  text-decoration: none;
}

img {
  border: 0;
  vertical-align: middle;
}
html {
  font-size: 16px;
}

body {
  font-family: "SUIT", sans-serif;
  font-size: 13px;
  color: #777;
  line-height: 1.6;
  letter-spacing: -0.3px;
  word-break: keep-all;
}

/* 공통클래스 */
.inner {
  max-width: 1420px;
}

.clearfix::after {
  content: "";
  position: relative;
  display: block;
  width: 100%;
  clear: both;
}